.commentsList {
    list-style: none;
    padding: 10px;
    margin: 0;
    li {
      padding: 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      &::after {
        content: '';
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgba(76, 117, 103, 0.655);
      }

      button:hover {
        border-color: rgba(128, 14, 14, 0.596);
        background: rgba(128, 14, 14, 0.596);
      }
    }
}

.comments {
    .createComment {
      padding: 10px;
      display: flex;
      align-items: flex-end;
      gap: 10px;

      textarea {
        width: 495px;
        border: 2px solid rgba(76, 117, 103, 0.655);
        border-radius: 10px;
        height: 42px;
        padding: 10px;
        background: rgb(121, 127, 123);
      }
    }

    button{
    font-size: 14px;
    padding: 5px;
  }
}